@use '../variables' as *;

.badge {
    border: 2px solid $grey-2;
    padding: .25rem .5rem;
    display: block;
    font-size: 1rem;

    text-decoration: none;
    color: inherit;

    border-radius: 100px;

    &:hover {
        background-color: $grey-2;
        border-color: $grey-3;
    }
    
    &:active {
        transform: scale(0.99);
    }
}