@use '../variables' as *;

.cta {
    background-color: $color-primary-navy;
    color: $text-light-1;
    padding: .5em 1.5em;
    display: inline-block;
    margin-top: 1rem;
    text-decoration: none;

    &:hover {
        transform: translateY(-1px);
    }

    &:active {
        transform: scale(0.99);
    }
}