@use '../variables' as *;

.cta {
    background-color: $color-primary-navy;
    color: $text-light-1;
    padding: .5em 1.5em;
    display: inline-block;
    text-decoration: none;

    &:hover {
        transform: translateY(-1px);
    }

    &:active {
        transform: scale(0.99);
    }
}

.cta--full {
    display: block;
}

.cta--highlight {
    color: $text-dark-1;
    background-color: $grey-1;
    border: 1px solid $grey-2;
    min-height: 64px;
    display: flex;
    align-items: center;
    margin-bottom: 3px;

    &:hover {
        background-color: $color-primary-navy;
        color: $text-light-1;
    }
}