@use '../variables' as *;

.search {

    input {        
        display: block;
        width: 100%;
    }
    input + button {
        position: absolute;
        right: 0;
        top: 0;
        min-height: 48px;
        background-color: $color-primary-navy;
        color: $text-light-1;
    }
}

.search__form {
    position: relative;
}