<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/styles/main.css">
    
  </head>

  <body>
        <header>
            <div class="container">
                <div class="nav-utility">
                    <span class="logo">
                        <a href="/">VHA UX Guide</a>
                    </span>
                    <span class="search">
                        <label for="search">Search</label>
                        <input id="search" type="search">
                    </span>
                </div>
                <nav class="nav-main">
                    <ul>
                        {% for item in navMain %}
                            <li><a href="{{item.url}}">{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            {{ content | safe }}
        </main>
        <footer>
            <div class="container">Looking for more information? Contact us</div>
        </footer>
</body>
</html>