<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }} | IDIA 630</title>
    <link rel="stylesheet" href="/assets/styles/main.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    

  </head>

  <body>
        <header>
            <div class="container">
                <div class="nav-utility">
                    <span class="logo">
                        <a href="/">VHA UX Guide</a>
                    </span>
                    <span class="search-link">
                        <a class="icon-link" href="/search">
                            <i class="fas fa-search icon" aria-hidden="true"></i>
                            <span>Search</span>
                        </a>
                    </span>
                </div>
                <nav class="nav-main">
                    <ul>
                        {% for item in navMain %}
                            <li><a href="{{item.url}}">{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            {{ content | safe }}
        </main>
        <footer>
            <div class="container">Looking for more information? <a href="/#">Contact us</a></div>
        </footer>

        <script src="https://kit.fontawesome.com/cff71a9793.js" crossorigin="anonymous"></script>
</body>
</html>