@use 'variables' as *;


.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 1.2em;
    @media (min-width: 800px) {
        padding: 0rem;
    }
}

.section {
    padding: 1.5em 0;
    @media (min-width: 800px) {
        padding: 2em 0;
    }
}

.flow > * + * {
    margin-top: 1.2em;
}