---
title: Design Phase
layout: layouts/single-banner.njk
phase: "design"
---

<div class="container">

    <a class="back" href="../">Back to UX Process</a>

    {% for item in uxProcess %}
        {% if item.phase == phase %}
            <div class="section flow">
                <h2>{{ item.title }}</h2>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, officia tenetur, ipsam dolor veniam accusamus similique odio iusto perferendis
                    amet ad magni? Nemo numquam laborum, nostrum praesentium quia at modi!</div>
                <a class="cta" href="{{ item.title | slugify }}">Learn about {{ item.title }}</a>
            </div>
            {% endif %}
    {% endfor %}

</div>