---
title: Details - IDIA 630
layout: layouts/base.njk
pagination:
  data: uxProcess
  size: 1
  alias: item
permalink: /ux-process/{{ item.phase | slugify }}/{{ item.title | slugify }}/index.html
---

<div class="masthead">
    <div class="container">
        <div style="text-transform: capitalize;">{{ item.phase }} Phase</div>
    </div>
</div>

<div class="container">
    
    <a class="back" href="../">Back to {{ item.phase }}</a>

    <div class="flow">
        <h2>{{ item.title }}</h2>
        <div>Vanilla muffin jelly vanilla cake ipsum. Cake cake sweet biscuit sweet cake. Sugar orange donut muffin jelly cream. Candy lollipop pastry sweet candy tiramisu.</div>
        <div>Sugar apple dolor candy cookie donut muffin sweet apple lollipop. Sugar candy sweet cream orange cream cookie dolor pastry apple. Cookie tiramisu dolor dolor vanilla ipsum apple dolor tiramisu vanilla. Croissant donut sugar sugar vanilla vanilla ipsum jelly cake cookie.</div>
        <img src="https://via.placeholder.com/600x400?text=Image" alt="" srcset="">
        <div>Lollipop jelly dolor sweet sugar marzipan. Dolor sprinkles muffin vanilla muffin biscuit. Cake vanilla cookie vanilla croissant cookie. Ipsum sugar muffin muffin vanilla tiramisu.</div>
        <div>Dolor pastry donut muffin orange croissant lollipop muffin cake donut. Sprinkles pastry biscuit cake croissant tiramisu vanilla candy orange orange. Sweet muffin tiramisu cake orange sweet lollipop jelly sweet marzipan. Candy sugar cake muffin sweet pastry lollipop sugar vanilla sugar.</div>
        <div>Cookie muffin vanilla sugar biscuit cookie croissant orange cookie croissant sprinkles sweet jelly apple marzipan apple biscuit donut sprinkles vanilla. Lollipop muffin sprinkles dolor croissant cream pastry jelly pastry cream tiramisu vanilla croissant muffin pastry cookie apple tiramisu sprinkles lollipop. Pastry biscuit sugar pastry cookie sweet sprinkles ipsum croissant sprinkles candy orange croissant donut sugar sugar ipsum jelly marzipan vanilla. Tiramisu ipsum donut lollipop pastry ipsum sweet orange jelly croissant jelly dolor pastry muffin candy sweet sweet muffin sprinkles cake.</div>
    </div>
</div>
<div class="container">
    <h2>Related methods</h2>
    <div class="associated-block">
        <img src="https://via.placeholder.com/300x200?text=Image" alt="" srcset="">
        <img src="https://via.placeholder.com/300x200?text=Image" alt="" srcset="">
        <img src="https://via.placeholder.com/300x200?text=Image" alt="" srcset="">
    </div>
</div>