---
title: Planning & Discovery Phase
layout: layouts/single-banner.njk
phase: "planning"
---

<div class="container">

    <a class="back" href="../">Back to UX Process</a>


    {% for item in uxProcess %}
    {% if item.phase == phase %}
    <div class="section flow">
        <h2>{{ item.title }}</h2>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, officia tenetur, ipsam dolor veniam accusamus similique odio iusto perferendis
            amet ad magni? Nemo numquam laborum, nostrum praesentium quia at modi!</div>
        <div>
            <ul class="list--inline">
                <li><a href="#" class="badge badge--info">{{ [1,2,3,4,5,6,7,8,9] | random }} days</a></li>
                <li><a href="#" class="badge badge--info">{{ ["Short","Medium","Long"] | random }} Setup</a></li>
            </ul>
        </div>
        <a class="cta" href="{{ item.title | slugify }}">Learn about {{ item.title }}</a>
    </div>
    {% endif %}
    {% endfor %}

</div>