---
title: Find a Method
layout: layouts/base.njk
---

<div class="masthead">
    <div class="container">
        <h1>{{ title }}</h1>
    </div>
</div>

<div class="container flow">

    <h2>I need a method to help me:</h2>

    <ul class="list--bare list--full-width">
        <li><a class="cta cta--full cta--highlight" href="/ux-process/planning">Define the project</a></li>
        <li><a class="cta cta--full cta--highlight" href="/ux-process/research">Learn more about target users and context</a></li>
        <li><a class="cta cta--full cta--highlight" href="/ux-process/design">Create testable designs</a></li>
        <li><a class="cta cta--full cta--highlight" href="/ux-process/analysis">Generate ideas from completed research</a></li>
        <li><a class="cta cta--full cta--highlight" href="/ux-process/validation">Make sure my design works</a></li>
    </ul>
    
</div>