---
title: Home
layout: layouts/base.njk
---

<div class="masthead">
    <div class="container">World-class service for veterans through user-centered design</div>
</div>

<div class="container">

    {% for item in navMain %}
        <div class="section media">
            <i class="fas {{item.icon}}"></i>
            <div class="flow">
                <h2>{{ item.title }}</h2>
                <div>Ipsum croissant muffin sprinkles sweet biscuit. Tiramisu cream cake sugar orange sugar. Cream marzipan croissant croissant pastry ipsum. Croissant donut cake ipsum jelly jelly.</div>
                <a class="cta" href="{{item.url}}">Call to action</a>
            </div>
        </div>
    {% endfor %}

</div>