---
title: Intro to UX Concepts
layout: layouts/base.njk
---

<div class="masthead">
    <div class="container">
        <h1>{{ title }}</h1>
    </div>
</div>

<div class="container">
    
    <div class="section flow">
        <h2>Intro Section</h2>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, officia tenetur, ipsam dolor veniam accusamus similique odio iusto perferendis amet ad magni? Nemo numquam laborum, nostrum praesentium quia at modi!</div>
        
        <h2>Phases of a project</h2>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, officia tenetur, ipsam dolor veniam accusamus similique odio iusto perferendis amet ad magni? Nemo numquam laborum, nostrum praesentium quia at modi!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, officia tenetur, ipsam dolor veniam accusamus similique odio iusto perferendis amet ad magni? Nemo numquam laborum, nostrum praesentium quia at modi!</div>
        
        <h2>How to use the methods</h2>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, officia tenetur, ipsam dolor veniam accusamus similique odio iusto perferendis amet ad magni? Nemo numquam laborum, nostrum praesentium quia at modi!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, officia tenetur, ipsam dolor veniam accusamus similique odio iusto perferendis amet ad magni? Nemo numquam laborum, nostrum praesentium quia at modi!</div>

        <h2>Next Steps</h2>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, officia tenetur, ipsam dolor veniam accusamus similique odio iusto perferendis amet ad magni? Nemo numquam laborum, nostrum praesentium quia at modi!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, officia tenetur, ipsam dolor veniam accusamus similique odio iusto perferendis amet ad magni? Nemo numquam laborum, nostrum praesentium quia at modi!</div>
    </div>
    

</div>