---
title: Search
layout: layouts/single.njk
---

<div class="container">
    <div>Showing 3 results for ___</div>
</div>

<div class="container">
    
    <div class="section flow">
        <h2>Title</h2>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, officia tenetur, ipsam dolor veniam accusamus similique odio iusto perferendis
            amet ad magni? Nemo numquam laborum, nostrum praesentium quia at modi!</div>
    </div>
    <div class="section flow">
        <h2>Title</h2>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, officia tenetur, ipsam dolor veniam accusamus similique odio iusto perferendis
            amet ad magni? Nemo numquam laborum, nostrum praesentium quia at modi!</div>
    </div>
    <div class="section flow">
        <h2>Title</h2>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, officia tenetur, ipsam dolor veniam accusamus similique odio iusto perferendis
            amet ad magni? Nemo numquam laborum, nostrum praesentium quia at modi!</div>
    </div>

</div>