---
permalink: search.json
---
{"search" : [
{%- for item in uxProcess -%}
  {
    "title" : "{{ item.title }}",
    "link" : "{{ item.title | slugify }}",
    "phase" : "{{ item.phase }}",
    "processLength": "{{ [1,2,3,4,5,6,7,8,9] | random }}",
    "setupTime": "{{ ["Short","Medium","Long"] | random }}",    
    "type" : "ux-process"
  }{% if not loop.last %},{% else %}{%- endif -%}
{%- endfor -%}
,{%- for item in resources -%}
  {
    "title" : "{{ item.title }}",
    "link" : "{{ item.title | slugify }}", 
    "type" : "resource"
  }{% if not loop.last %},{% else %}{%- endif -%}
{%- endfor -%}
]}