---
title: Search
layout: layouts/single.njk
---

<div class="container search">
    <form class="search__form js-search">
        <input type="text" name="search" id="search" aria-label="Search" placeholder="What do you want to learn about?">
        <button type="submit">
            <i class="fas fa-search icon" aria-hidden="true"></i> 
            <span>Search</span>
        </button>
    </form>
</div>

<div class="searchbar">
    <div class="container">
        <div>Showing 3 results for "study"</div>
    </div>
    <div class="container">
        <select aria-label="Setup Time">
            <option value="setup">Setup Time</option>
        </select>
        <select aria-label="Length">
            <option value="length">Length</option>
        </select>
        <select aria-label="Process">
            <option value="process">Process</option>
        </select>
    </div>
</div>

<div class="container search-results"></div>

<script src="/assets/js/search.js"></script> 
