---
title: UX Process
layout: layouts/base.njk
---

<div class="masthead">
    <div class="container">
        <h1>{{ title }}</h1>
    </div>
</div>

<div class="container">
    
    <div class="section">
        <h2>Disovery</h2>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, officia tenetur, ipsam dolor veniam accusamus similique odio iusto perferendis amet ad magni? Nemo numquam laborum, nostrum praesentium quia at modi!</div>
        <a class="cta" href="/ux-process/discovery">Call to action</a>
    </div>

    <div class="section">
        <h2>Research</h2>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, officia tenetur, ipsam dolor veniam accusamus similique odio iusto perferendis amet ad magni? Nemo numquam laborum, nostrum praesentium quia at modi!</div>
        <a class="cta" href="/ux-process/research">Call to action</a>
    </div>
    
    <div class="section">
        <h2>Analysis</h2>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, officia tenetur, ipsam dolor veniam accusamus similique odio iusto perferendis amet ad magni? Nemo numquam laborum, nostrum praesentium quia at modi!</div>
        <a class="cta" href="/ux-process/analysis">Call to action</a>
    </div>

    <div class="section">
        <h2>Design</h2>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, officia tenetur, ipsam dolor veniam accusamus similique odio iusto perferendis amet ad magni? Nemo numquam laborum, nostrum praesentium quia at modi!</div>
        <a class="cta" href="/ux-process/design">Call to action</a>
    </div>

    <div class="section">
        <h2>Validation</h2>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, officia tenetur, ipsam dolor veniam accusamus similique odio iusto perferendis amet ad magni? Nemo numquam laborum, nostrum praesentium quia at modi!</div>
        <a class="cta" href="/ux-process/validation">Call to action</a>
    </div>

</div>